# ======================================================================================
# NOTA: Remova o .sample do nome do arquivo
# ======================================================================================



# [Service Docker: postgres]
# ------------------------------------------------------------------------

# Argumentos do sistema
USER=
PASSWORD= # NOTA IMPORTANTE: O usuário 'root' também terá essa mesma senha

# Argumentos do PostGreSQL
POSTGRESQL_VERSION=15
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SCHEMA=
